* {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 50px;
    background: #212121;
}

header nav .menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

header nav .menu .menu_link {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

header nav .menu .menu_item {
    border-right: 2px dotted #000000;
    padding-right: 28px;
}
